<div class="card" style="width: 18rem;">
  <%= link_to list_path(list) do %>
    <img src="..." class="card-img-top" alt="...">
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= list.name %></h5>
  </div>
</div>
